// Copyright (c) 2023 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>
#include "rhino_nrf52832-pinctrl.dtsi"

/ {
	model = "Rhino nRF52832";
	compatible = "rhino-nrf52832";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	output {
		compatible = "gpio-leds";
		o_relay_stop: relay_stop {
			gpios = < &gpio0 16 GPIO_ACTIVE_LOW >;
			label = "RELAY_STOP";
		};
		o_relay_up: relay_up {
			gpios = < &gpio0 15 GPIO_ACTIVE_LOW >;
			label = "RELAY_UP";
		};
		o_relay_ldown: relay_down {
			gpios = < &gpio0 17 GPIO_ACTIVE_LOW >;
			label = "RELAY_DOWN";
		};
		o_led: led {
			gpios = < &gpio0 12 GPIO_ACTIVE_LOW >;
			label = "USER_LED";
		};
		o_wifi_power: wifi_power {
			gpios = < &gpio0 18 GPIO_ACTIVE_HIGH >;
			label = "WIFI_POWER";
		};
		o_wifi_enable: wifi_enable {
			gpios = < &gpio0 20 GPIO_ACTIVE_LOW >;
			label = "WIFI_ENABLE";
		};
		o_bat_power: bat_power{
			gpios = < &gpio0 30 GPIO_ACTIVE_HIGH>;
			label = "BAT_POWER";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_bell: p_bell {
			pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
		};
	};

	
	input {
		compatible = "gpio-keys";
		i_sig_up: signal_up {
			gpios = < &gpio0 14 0x11 >;
			label = "SIGNAL_UP";
		};
		i_sig_down: signal_down {
			gpios = < &gpio0 13 0x11 >;
			label = "SIGNAL_DOWN";
		};
		i_button: button {
			gpios = < &gpio0 24 0x11 >;
			label = "BUTTON";
		};
		i_input_1: input_1 {
			gpios = < &gpio0 25 0x11 >;
			label = "INPUT_1";
		};
		i_input_2: input_2 {
			gpios = < &gpio0 26 0x11 >;
			label = "INPUT_2";
		};
		i_input_3: input_3 {
			gpios = < &gpio0 27 0x11 >;
			label = "INPUT_3";
		};
		i_input_4: input_4 {
			gpios = < &gpio0 28 0x11 >;
			label = "INPUT_4";
		};
		i_input_5: input_5 {
			gpios = < &gpio0 29 0x11 >;
			label = "INPUT_5";
		};
		i_rt_sqw: rt_sqw {
			gpios = < &gpio0 6 0x11 >;
			label = "RT_SQW";
		};
		i_rt_irq: rt_irq {
			gpios = < &gpio0 5 0x11 >;
			label = "RT_IRQ_OUT";
		};
		i_wifi_sync: wifi_sync {
			gpios = < &gpio0 21 0x11 >;
			label = "WIFI_SYNC";
		};
		i_pwr_bkup: pwr_bkup {
			gpios = < &gpio0 11 0x11>;
			label = "PWR_BKUP";
		};
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		watchdog0 = &wdt0;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&uart0 {
	status = "okay";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0x28000>;
		};
		slot0_partition: partition@28000 {
			label = "image-0";
			reg = < 0x28000 0x4d000 >;
		};
		slot1_partition: partition@3e000 {
			label = "image-1";
			reg = <0x3e000 0x32000>;
		};
		storage_partition: partition@75000 {
			label = "storage";
			reg = < 0x75000 0xa000 >;
		};
	};
};
