// Copyright (c) 2023 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>

/ {
	model = "Foxs 2 rev1_x";
	compatible = "nordic,foxs-2-rev1-x";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: smart_ind {
			gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
			label = "Smart Ind (O)";
		};
		led1: alarm_ind {
			gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
			label = "Alarm Ind (O)";
		};
		led2: face_led {
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			label = "Face LED";
		};
		led3: winker {
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			label = "Winker (O)";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: start {
			gpios = <&gpio0 23 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Start SW";
		};
		button1: brake {
			gpios = <&gpio0 25 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Brake SW";
		};
		button2: main {
			gpios = <&gpio0 29 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Main SW";
		};

		button3: smart_ind {
			gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Smart Ind";
		};
		button4: alarm_ind {
			gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Alarm Ind";
		};
		button5: winker {
			gpios = <&gpio0 30 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Winker SCU";
		};
		button6: winker_lr {
			gpios = <&gpio0 26 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Winker Left-Right";
		};
	};


	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		led3 = &led3;
		sw0 = &button0;
		sw1 = &button1;
		sw2 = &button2;
		sw3 = &button3;
		bootloader-led0 = &led0;
		mcuboot-button0 = &button0;
		mcuboot-led0 = &led0;
		watchdog0 = &wdt0;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

// arduino_i2c: &i2c0 {
// 	compatible = "nordic,nrf-twi";
// 	status = "okay";
// 	pinctrl-0 = <&i2c0_default>;
// 	pinctrl-1 = <&i2c0_sleep>;
// 	pinctrl-names = "default", "sleep";
// };

// &i2c1 {
// 	compatible = "nordic,nrf-twi";
// 	/* Cannot be used together with spi1. */
// 	/* status = "okay"; */
// 	pinctrl-0 = <&i2c1_default>;
// 	pinctrl-1 = <&i2c1_sleep>;
// 	pinctrl-names = "default", "sleep";
// };

// &pwm0 {
// 	status = "okay";
// 	pinctrl-0 = <&pwm0_default>;
// 	pinctrl-1 = <&pwm0_sleep>;
// 	pinctrl-names = "default", "sleep";
// };

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x32000>;
		};
		slot1_partition: partition@3e000 {
			label = "image-1";
			reg = <0x0003E000 0x32000>;
		};
		scratch_partition: partition@70000 {
			label = "image-scratch";
			reg = <0x00070000 0xa000>;
		};
		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x0007a000 0x00006000>;
		};
	};
};
